@page
@using Abc.Pages.Common.Aids
@using Abc.Pages.Common.Consts
@using Abc.Pages.Common.Extensions
@model Abc.Pages.Shop.Client.BasketItemsClientPage;

@{
    Layout = "_BasketItemIndex";
    var page = Model.PageUrl;
}

@section Create {
    <h4>
        @Html.Link(string.Empty, new Link("Ostma", Model.CreateUrl))
        @Html.Link(string.Empty, new Link("Maksma", Model.OrdersUrl))

    </h4>
}

@Html.ShowTable(Model)
